body {
	/*background: #ffedf7;*/
	/*background: #ffe6e6;*/
	/*background-image: url("images/palm.png");*/
	margin: 0;
}

nav {
	/*margin: initial;*/
	position: fixed;
	width: 10%;
}

#welcome {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: 50% 50%;
	background-image: URL("images/bridge.png");
	background-attachment: fixed;
	min-height: 0px;


	color: #dcfdff;
	line-height: 60px;
	font-style: italic;
	font-size: 50px;
	font-family: sans-serif;
	font-variant: all-small-caps;
	font-weight: lighter;
	height: -webkit-fill-available;
}

#welcomeMsg {
	/*margin: inherit;*/
	float: left;
	font-variant-caps: normal;
	font-size: 7vw;
	font-weight: bold;
	padding-left: 14vw;
	padding-top:9vw;
	line-height: 7.1vw;
}

#experience {
	background-color: #ccd6c1;
}

#experienceHead {
	text-align: center;
	font-size: 3vw;
	font-family: sans-serif;
	color: #3d799e;
	background-color: inherit;
}

#experinceText {
	background-color: inherit;
}

#info {
	display: inline-block;
}

.emojiDeco {
	font-size: 3.2vw;
	text-align: center;
}


.greenHead {
	color: green;
	text-align: center;
	font-size: 3vw;
	font-family: sans-serif;
}

#personalText {
	font-size: 1.6vw;
	font-family: monospace;
	padding-left: 14vw;
	padding-right: 14vw;
	line-height: 3vw;
}


#personal h2 {
	font-weight: lighter;
	padding-left: 95px;
}

#personalPicture {
	display: block;
	max-height: -webkit-fill-available;
	max-width: -webkit-fill-available;
	width: 100%;
	height: 100%;
	zoom: 150%;
	}

#personalCaption {
	text-align: center;
	font-size: 12px;
}

#personalBody {
	background-color: white;
	color: firebrick;
	font-size: 17px;
	width: 85%;
	margin: auto;
	padding: 15px;
}

.company {
	display: inline-block;
	width: 80%;
}

.companyPic {
	width: 80%;
}

.companyPic img {
	float: left;
	height: 17vw;
	width: 17vw;
	border-radius: 25%;
	margin-left: 35%;
}

.companyDescription {
	float: right;
	width: 46%;
}

.companyTitle {
	font-size: 2.5vw;
	font-family: sans-serif;
}

.companyPosition {
	font-family: monospace;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 2vw;
    color: #3d789d;
}

.companyLocation {
	font-family: monospace;
    font-variant-caps: all-small-caps;
    font-size: 1.8vw;
    color: white;
}

.companyJobDescription {
	padding-top: 5%;
    font-family: monospace;
    font-size: 1.2vw;
    line-height: 1.8vw;
}

#contact {
	display: inline-block;
	background-color: #5d7150;
	width: 100%;
}

#contactHead {
	display: -webkit-inline-box;
	color: #dcfdff;
    padding-left: 3%;
    padding: 2.5%;
    font-size: 1.8vw;
    font-family: sans-serif;
    font-variant-caps: all-small-caps;
    float: left;
    width: 5.5%;
    border-right: #dcfdff 1.4px solid;
}

.contactPng img{
	height: 3vw;
	width: 3vw;
}


a:link {
	color: #fffd82;
	text-decoration: none;
}

a:visited {
	color: #fffd82;
}