body {
	background: ghostwhite;
}

#welcome {
	background-color: white;
	/*height: 140px;*/
	text-align: center;
	line-height: 140px;
	font-style: italic;
	font-size: 30px;
	font-family: monospace;
}

.menu-head {
	background-color: white;
	text-align: center;
	margin: auto;
	height: 50px;
	line-height: 50px;
	width: 30%;
	font-family: cursive;
	font-size: 22px;
}

#menu-list-1 {
	/*background-color: white;*/
	text-align: left;
	margin: auto;
	padding-right: 2em;
	/*padding-left: 10px;*/
	height: 60px;
	width: 0%;
	transition: width .2s;
}
#menu-list-1:hover {
	background-color: white;
	width: 45%;
}
#menu-list-1:hover p {
	display: block;
}
#menu-list-1 p {
	display: none;
	margin: auto;
	padding-left: 4.5em;
}


#menu-list-2 {
	/*background-color: white;*/
	text-align: left;
	margin: auto;
	padding-right: 2em;
	/*padding-left: 10px;*/
	height: 60px;
	width: 0%;
	transition: width .2s;
}
#menu-list-2:hover {
	background-color: white;
	width: 45%;
}
#menu-list-2:hover p {
	display: block;
}
#menu-list-2 p {
	display: none;
	margin: auto;
	padding-left: 4.5em;
}

#menu-list-3 {
	/*background-color: white;*/
	text-align: left;
	margin: auto;
	padding-right: 2em;
	/*padding-left: 10px;*/
	height: 60px;
	width: 0%;
	transition: width .2s;
}
#menu-list-3:hover {
	background-color: white;
	width: 45%;
}
#menu-list-3:hover p {
	display: block;
}
#menu-list-3 p {
	display: none;
	margin: auto;
	padding-left: 4.5em;
}


.bagel {
	float: left;
	padding-top: 5px;
}

a:link {
	color: #401b82;
	text-decoration: none;
}